/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Lato);@import url(https://fonts.googleapis.com/css?family=Montserrat);#preloader{position:absolute;top:0;left:0;right:0;bottom:0;background:#ffffff;z-index:999999;}
#status{width:200px;height:200px;position:absolute;left:50%;top:50%;background-image:url(../images/preload.gif);background-repeat:no-repeat;background-position:center;margin:-100px 0 0 -100px;}
#navigation{background:#5B6073;position:absolute;top:0;left:0;width:100%;height:80px;z-index:2000;}
.logo{float:left;margin-left:30px;margin-top:30px;width:103px;height:25px;}
#navigation ul{padding-top:30px;float:right;margin-right:20px;}
#navigation ul li{display:inline;margin-right:30px;font-family:'OpenSans-Light-webfont';}
#navigation a, #navigation a:active, #navigation a:visited{color:#fff;padding-top:25px;height:70px;text-transform:uppercase;font-weight:bold;font-size:14px;padding-bottom:10px;}
#navigation ul li:hover a{color:#EB767E;}
@media only screen and (max-width:959px){#navigation a, #navigation a:active, #navigation a:visited{color:#292929;}
#navigation ul{width:250px;padding:5px 0;position:relative;top:10px;right:50px;border:solid 1px #efefef;background:#fff url(../images/icon-menu.png) no-repeat 10px 11px;border-radius:3px;}
.logo{margin-top:20px;}
ul#menu li{display:none;margin:0;}
#navigation .current{display:block!important;}
#navigation a{display:block;padding:5px 5px 5px 32px;text-align:left;color:#000;}
#navigation ul:hover{background-image:none;}
#navigation ul:hover .current{background:url(../images/icon-check.png) no-repeat 10px 7px;}
#navigation ul li:hover a, #navigation ul li.current a{color:#EB767E;border-bottom::0px;}
#navigation a, #navigation a:active, #navigation a:visited{padding-top:5px;height:auto;padding-bottom:5px;}
#navigation ul li.current a{color:#EB767E;border-bottom:1px solid #EB767E;background:url(../images/ar.png) no-repeat bottom center;}
}
@media only screen and (max-width:767px){.logo{margin-left:10px;margin-top:10px;width:103px;height:25px;}
#navigation ul{width:200px;padding:5px 0;position:relative;top:10px;right:20px;border:solid 1px #efefef;background:#fff url(../images/icon-menu.png) no-repeat 10px 11px;border-radius:3px;}
ul#menu li{display:none;margin:0;}
#navigation .current{display:block!important;}
#navigation a{display:block;padding:5px 5px 5px 32px;text-align:left;}
#navigation ul:hover{background-image:none;}
#navigation ul:hover .current{background:url(../images/icon-check.png) no-repeat 10px 7px;}
#navigation ul li:hover a, #navigation ul li.current a{border-bottom::0px;}
#navigation a, #navigation a:active, #navigation a:visited{padding-top:5px;height:auto;padding-bottom:5px;}
}
@media only screen and (max-width:479px){.logo{margin-left:-10px;margin-top:20px;width:103px;height:25px;}
#navigation ul{width:120px;padding:5px 0;position:relative;top:10px;right:10px;border:solid 1px #efefef;background:#fff url(../images/icon-menu.png) no-repeat 10px 11px;border-radius:3px;}
ul#menu li{display:none;margin:0;}
#navigation .current{display:block!important;}
#navigation a{display:block;padding:5px 5px 5px 32px;text-align:left;}
#navigation ul:hover{background-image:none;}
#navigation ul:hover .current{background:url(../images/icon-check.png) no-repeat 10px 7px;}
#navigation ul li:hover a, #navigation ul li.current a{border-top:0px;}
#navigation a, #navigation a:active, #navigation a:visited{padding-top:5px;height:auto;padding-bottom:5px;}
}
#home{position:relative;background:url('../images/table_dashboard.jpg') repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;margin:0 auto;text-align:center;width:100%;overflow:hidden;}
.logo-big{position:absolute;z-index:301;top:10px;left:20px;width:200px;height:44px;background:url('../images/visfree_logo1.png') no-repeat center center;-webkit-background-size:160px 35px;-moz-background-size:160px 35px;background-size:160px 35px;}
button.map{position:absolute;margin:0;padding:0;background:#2B2D3A;top:10px;left:212px;z-index:99;height:44px;width:44px;display:block;font-family:'FontAwesome';font-size:26px;line-height:44px;color:#fff;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
button.map:hover{background:#fff;color:#2B2D3A;}
.md-perspective,
.md-perspective body{height:100%;overflow:hidden;}
.md-perspective body{background:#222;-webkit-perspective:600px;-moz-perspective:600px;perspective:600px;}
.container{min-height:100%;}
.md-modal{position:fixed;top:50%;left:50%;width:70%;max-width:1030px;min-width:220px;height:auto;z-index:2000;visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);}
.md-show{visibility:visible;}
.md-overlay{position:fixed;width:100%;height:100%;visibility:hidden;top:0;left:0;z-index:1000;opacity:0;background:rgba(0,0,0,0.6);-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;}
.md-show ~ .md-overlay{opacity:1;visibility:visible;}
.md-content{color:#fff;position:relative;border-radius:3px;margin:0 auto;}
.md-content > div{padding:15px 40px 30px;margin:0;}
.md-content > div p{}
.md-content > div ul{margin:0;padding:0 0 30px 20px;}
.md-content > div ul li{padding:5px 0;}
.md-content button{display:block;margin:0 auto;background:#2B2D3A;color:#fff;}
.md-content button:hover{background:#5B6073;color:#fff;}
#map{position:relative;display:block;max-width:1030px;height:320px;margin:0 auto;}
.overlay{display:block;text-align:center;height:60px;padding-top:15px;width:180px;background:#EB767E;border-radius:0 0 5px 5px;-webkit-box-shadow:0 9px 9px -7px rgba(0,0,0,.3);-moz-box-shadow:0 9px 9px -7px rgba(0,0,0,.3);box-shadow:0 9px 9px -7px rgba(0,0,0,.3);}
.overlay p{text-align:center;color:#fff;}
.overlay_arrow{left:50%;margin-left:-16px;width:0;height:0;position:absolute;}
.overlay_arrow.above{bottom:-13px;border-left:16px solid transparent;border-right:16px solid transparent;border-top:16px solid #EB767E;}
.overlay_arrow.below{top:-10px;border-left:16px solid transparent;border-right:16px solid transparent;border-bottom:16px solid #EB767E;}
.dot-up-overlay{position:absolute;content:'';height:16px;width:16px;border-radius:50%;border:5px double #EB767E;top:-40px;left:50%;margin-left:-13px;}
.no-touch.cssanimations .dot-up-overlay{-webkit-animation:sonarEffect2 2s ease-out 75ms infinite;-moz-animation:sonarEffect2 2s ease-out 75ms infinite;animation:sonarEffect2 2s ease-out 75ms infinite;}
@-webkit-keyframes sonarEffect2{0%{opacity:0.3;}
40%{opacity:0.5;box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(235,118,126,.1), 0 0 0 10px rgba(255,255,255,0.5);}
100%{box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(235,118,126,.3), 0 0 0 10px rgba(255,255,255,0.5);-webkit-transform:scale(1.2);opacity:1;}
}
@-moz-keyframes sonarEffect2{0%{opacity:0.3;}
40%{opacity:0.5;box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(235,118,126,.1), 0 0 0 10px rgba(255,255,255,0.5);}
100%{box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(235,118,126,.3), 0 0 0 10px rgba(255,255,255,0.5);-moz-transform:scale(1.2);opacity:1;}
}
@keyframes sonarEffect2{0%{opacity:0.3;}
40%{opacity:0.5;box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(235,118,126,.1), 0 0 0 10px rgba(255,255,255,0.5);}
100%{box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(235,118,126,.3), 0 0 0 10px rgba(255,255,255,0.5);transform:scale(1.2);opacity:1;}
}
.md-show.md-effect-17 ~ .container{height:100%;overflow:hidden;-webkit-transition:-webkit-transform 0.3s;-moz-transition:-moz-transform 0.3s;transition:transform 0.3s;}
.md-show.md-effect-17 ~ #home,
.md-show.md-effect-17 ~ .md-overlay{-webkit-transform:rotateX(-5deg);-moz-transform:rotateX(-5deg);-ms-transform:rotateX(-5deg);transform:rotateX(-5deg);-webkit-transform-origin:50% 0%;-moz-transform-origin:50% 0%;transform-origin:50% 0%;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;}
.md-effect-17 .md-content{opacity:0;-webkit-transform:translateY(200%);-moz-transform:translateY(200%);-ms-transform:translateY(200%);transform:translateY(200%);}
.md-show.md-effect-17 .md-content{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);opacity:1;-webkit-transition:all 0.5s 0.4s;-moz-transition:all 0.5s 0.4s;transition:all 0.5s 0.4s;}
.social-top{position:absolute;top:10px;right:30px;z-index:99;height:30px;color:#EB767E;}
.list-social li{padding:0 auto;list-style:none;background:#5B6073;margin:0 auto;width:30px;display:inline-block;cursor:pointer;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear;}
.list-social li.icon-soc a{font-family:'FontAwesome';font-size:18px;line-height:30px;color:#fff;}
.list-social li:hover{-webkit-animation:tada 1s forwards;-moz-animation:tada 1s forwards;animation:tada 1s forwards;}
.list-social li:hover.icon-soc3 a{}
@-webkit-keyframes tada{0%{-webkit-transform:scale(1);}
10%, 20%{-webkit-transform:scale(0.9) rotate(-3deg);}
30%, 50%, 70%, 90%{-webkit-transform:scale(1.1) rotate(3deg);}
40%, 60%, 80%{-webkit-transform:scale(1.1) rotate(-3deg);}
100%{-webkit-transform:scale(1) rotate(0);}
}
@-moz-keyframes tada{0%{-moz-transform:scale(1);}
10%, 20%{-moz-transform:scale(0.9) rotate(-3deg);}
30%, 50%, 70%, 90%{-moz-transform:scale(1.1) rotate(3deg);}
40%, 60%, 80%{-moz-transform:scale(1.1) rotate(-3deg);}
100%{-moz-transform:scale(1) rotate(0);}
}
@-o-keyframes tada{0%{-o-transform:scale(1);}
10%, 20%{-o-transform:scale(0.9) rotate(-3deg);}
30%, 50%, 70%, 90%{-o-transform:scale(1.1) rotate(3deg);}
40%, 60%, 80%{-o-transform:scale(1.1) rotate(-3deg);}
100%{-o-transform:scale(1) rotate(0);}
}
@keyframes tada{0%{transform:scale(1);}
10%, 20%{transform:scale(0.9) rotate(-3deg);}
30%, 50%, 70%, 90%{transform:scale(1.1) rotate(3deg);}
40%, 60%, 80%{transform:scale(1.1) rotate(-3deg);}
100%{transform:scale(1) rotate(0);}
}
.home-menu1{position:relative;float:left;width:50%;height:50%;}
.home-menu2{position:relative;float:left;width:50%;height:50%;}
.home-menu3{position:relative;float:left;width:50%;height:50%;}
.home-menu4{position:relative;float:left;width:50%;height:50%;}
.home-menu1 .home-menu-but1{position:absolute;overflow:hidden;bottom:2px;right:2px;background:#EB767E;width:200px;height:200px;z-index:10;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear;}
.home-menu1:hover .home-menu-but1{box-shadow:0 0 0 5px rgba(91,96,115,.5);z-index:1001;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
.home-menu2 .home-menu-but2{position:absolute;overflow:hidden;bottom:2px;left:2px;background:#FFA979;width:150px;height:150px;z-index:10;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear;}
.home-menu2:hover .home-menu-but2{box-shadow:0 0 0 5px rgba(91,96,115,.5);z-index:1001;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
.home-menu3 .home-menu-but3{position:absolute;overflow:hidden;top:2px;right:2px;background:#B687E3;width:150px;height:150px;z-index:10;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear;}
.home-menu3:hover .home-menu-but3{box-shadow:0 0 0 5px rgba(91,96,115,.5);z-index:1001;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
.home-menu4 .home-menu-but4{position:absolute;overflow:hidden;top:2px;left:2px;background:#41C9A5;width:150px;height:150px;z-index:10;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear;}
.home-menu4:hover .home-menu-but4{box-shadow:0 0 0 5px rgba(91,96,115,.5);z-index:1001;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
.home-menu-text1{font-family:'Lato', sans-serif;width:100%;height:20px;font-size:28px;font-weight:bold;line-height:32px;color:rgba(255,255,255,1);text-align:left;margin-top:95px;margin-left:10px;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear;}
.home-menu1:hover .home-menu-text1{}
.hi-icon-wrap1{position:absolute;bottom:2px;right:2px;z-index:1000;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear;}
.home-menu1:hover .hi-icon-wrap1{z-index:1002;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
.home-menu1 .hi-icon1{display:block;font-size:0px;cursor:pointer;width:150px;height:200px;text-align:center;position:relative;overflow:hidden;z-index:1001;color:rgba(255,255,255,.3);}
.home-menu1 .hi-icon1:after{pointer-events:none;position:absolute;width:100%;height:100%;margin-top:-40px;margin-right:-60px;border-radius:50%;content:'';-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.home-menu1 .hi-icon1:before{font-family:'FontAwesome';speak:none;font-size:100px;line-height:150px;margin-top:-40px;margin-right:-60px;font-weight:100;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;display:block;-webkit-font-smoothing:antialiased;}
.home-menu1:hover .hi-icon-effect-1 .hi-icon1:before{-webkit-animation:toBottomFromTop 2s forwards infinite;-moz-animation:toBottomFromTop 2s forwards infinite;animation:toBottomFromTop 2s forwards infinite;}
.hi-icon-bolt:before{content:"\f0e7";}
@-webkit-keyframes toBottomFromTop{49%{-webkit-transform:translateY(100%);}
50%{opacity:0;-webkit-transform:translateY(-100%);}
51%{opacity:1;}
}
@-moz-keyframes toBottomFromTop{49%{-moz-transform:translateY(100%);}
50%{opacity:0;-moz-transform:translateY(-100%);}
51%{opacity:1;}
}
@keyframes toBottomFromTop{49%{transform:translateY(100%);}
50%{opacity:0;transform:translateY(-100%);}
51%{opacity:1;}
}
.home-menu-text2{font-family:'Lato', sans-serif;width:100%;height:20px;font-size:26px;line-height:24px;color:rgba(255,255,255,1);text-align:left;margin-top:115px;margin-left:10px;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear;}
.home-menu2:hover .home-menu-text2{}
.hi-icon-wrap2{position:absolute;bottom:2px;left:2px;z-index:1000;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear;}
.home-menu2:hover .hi-icon-wrap2{z-index:1002;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
.home-menu2 .hi-icon2{display:block;font-size:0px;cursor:pointer;width:150px;height:150px;text-align:center;position:relative;overflow:hidden;z-index:1001;color:rgba(255,255,255,.3);}
.home-menu2 .hi-icon2:after{pointer-events:none;position:absolute;width:100%;height:100%;margin-top:-40px;margin-right:-80px;content:'';-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.home-menu2 .hi-icon2:before{font-family:'FontAwesome';speak:none;font-size:120px;line-height:150px;margin-top:-40px;margin-right:-80px;font-weight:100;border-bottom-left-radius:50%;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;display:block;-webkit-font-smoothing:antialiased;}
.home-menu2:hover .hi-icon-effect-2 .hi-icon2:before{-webkit-animation:sonarEffect 2s ease-out 75ms infinite;-moz-animation:sonarEffect 2s ease-out 75ms infinite;animation:sonarEffect 2s ease-out 75ms infinite;}
.hi-icon-pen:before{content:"\f040";}
@-webkit-keyframes sonarEffect{0%{opacity:0.3;}
40%{opacity:0.5;box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FFA979, 0 0 0 20px rgba(255,255,255,0.5);}
100%{box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FFA979, 0 0 0 20px rgba(255,255,255,0.5);-webkit-transform:scale(1.2);opacity:0;}
}
@-moz-keyframes sonarEffect{0%{opacity:0.3;}
40%{opacity:0.5;box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FFA979, 0 0 0 20px rgba(255,255,255,0.5);}
100%{box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FFA979, 0 0 0 20px rgba(255,255,255,0.5);-moz-transform:scale(1.2);opacity:0;}
}
@keyframes sonarEffect{0%{opacity:0.3;}
40%{opacity:0.5;box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FFA979, 0 0 0 20px rgba(255,255,255,0.5);}
100%{box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #FFA979, 0 0 0 20px rgba(255,255,255,0.5);transform:scale(1.2);opacity:0;}
}
.home-menu-text3{font-family:'Lato', sans-serif;width:100%;height:20px;font-size:26px;line-height:24px;color:rgba(255,255,255,1);text-align:left;margin-top:115px;margin-left:10px;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear;}
.home-menu3:hover .home-menu-text3{}
.hi-icon-wrap3{position:absolute;top:2px;right:2px;z-index:1000;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear;}
.home-menu3:hover .hi-icon-wrap3{z-index:1002;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
.home-menu3 .hi-icon3{display:block;font-size:0px;cursor:pointer;width:160px;height:160px;text-align:center;position:relative;overflow:hidden;z-index:1001;color:rgba(255,255,255,.3);}
.home-menu3 .hi-icon3:after{pointer-events:none;position:absolute;width:100%;height:100%;margin-top:-50px;margin-right:-70px;border-radius:50%;content:'';-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.home-menu3 .hi-icon3:before{font-family:'FontAwesome';speak:none;font-size:130px;line-height:160px;margin-top:-50px;margin-right:-70px;font-weight:100;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;display:block;-webkit-font-smoothing:antialiased;}
.home-menu3:hover .hi-icon-effect-3 .hi-icon3:before{-webkit-animation:spinAround 6s linear infinite;-moz-animation:spinAround 6s linear infinite;animation:spinAround 6s linear infinite;}
.hi-icon-cog:before{content:"\f013";}
.home-menu-text4{font-family:'Lato', sans-serif;width:100%;height:20px;font-size:26px;line-height:24px;color:rgba(255,255,255,1);text-align:left;margin-top:115px;margin-left:10px;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear;}
.home-menu4:hover .home-menu-text4{}
.hi-icon-wrap4{position:absolute;top:2px;left:-8px;z-index:1000;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear;}
.home-menu4:hover .hi-icon-wrap4{z-index:1002;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
.home-menu4 .hi-icon4{display:block;font-size:0px;cursor:pointer;width:160px;height:160px;text-align:center;position:relative;overflow:hidden;z-index:1001;color:rgba(255,255,255,.3);}
.home-menu4 .hi-icon4:after{pointer-events:none;position:absolute;width:100%;height:100%;margin-top:-50px;margin-right:-70px;border-radius:50%;content:'';-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.home-menu4 .hi-icon4:before{font-family:'FontAwesome';speak:none;font-size:130px;line-height:160px;margin-top:-50px;margin-right:-70px;font-weight:100;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;display:block;-webkit-font-smoothing:antialiased;}
.home-menu4:hover .hi-icon-effect-4 .hi-icon4:before{-webkit-animation:spinAround 6s linear infinite;-moz-animation:spinAround 6s linear infinite;animation:spinAround 6s linear infinite;}
.hi-icon-glo:before{content:"\f0ac";}
@-webkit-keyframes spinAround{from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes spinAround{from{-moz-transform:rotate(0deg)}
to{-moz-transform:rotate(360deg);}
}
@keyframes spinAround{from{transform:rotate(0deg)}
to{transform:rotate(360deg);}
}
#about{position:relative;width:100%;background:#fff;padding-top:40px;}
#about h2{padding-bottom:50px;}
#about h2 span{color:#EB767E;}
#about h4{padding-bottom:20px;}
.about-info{position:relative;width:100%;padding-bottom:30px;}
.about-info h6{padding-bottom:20px;}
.facts{position:relative;width:100%;padding-bottom:50px;}
.facts h6{padding-bottom:0;}
#container-bar{padding-top:30px;text-align:center;}
#container-bar p{text-align:left;padding-top:20px;padding-bottom:10px;}
.bar-main-container{margin:0 auto;width:100%;height:30px;font-weight:normal;color:#FFF;}
.bar-percentage{float:left;background:rgba(0,0,0,0.13);width:18%;padding-top:4px;height:26px;}
.bar-container{float:right;height:2px;background:rgba(0,0,0,0.13);width:78%;margin:14px 0px;margin-right:2%;overflow:hidden;}
.bar{float:left;background:#FFF;height:100%;-webkit-border-radius:10px 0px 0px 10px;-moz-border-radius:10px 0px 0px 10px;border-radius:10px 0px 0px 10px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;}
.color1{background:#CCAA66;}
.color2{background:#FFA979;}
.color3{background:#B687E3;}
.color4{background:#41C9A5;}
.team{position:relative;width:100%;padding-top:10px;}
.team:before{content:'';position:absolute;top:50px;bottom:25px;width:1px;background:#EB767E;left:25%;}
.team-wrap{position:relative;width:100%;display:block;overflow:hidden;padding-top:20px;}
.team .big-dot{position:absolute;content:'';height:5px;width:5px;background:#fff;border-radius:50%;border:5px solid #EB767E;top:43px;left:25%;margin-left:-7px;z-index:10;}
.team .big-dot-down{position:absolute;content:'';height:15px;width:15px;background:#fff;border-radius:50%;border:5px double #EB767E;bottom:0;left:25%;margin-left:-12px;}
.no-touch.cssanimations .team .big-dot-down{-webkit-animation:sonarEffect1 2s ease-out 75ms infinite;-moz-animation:sonarEffect1 2s ease-out 75ms infinite;animation:sonarEffect1 2s ease-out 75ms infinite;}
@-webkit-keyframes sonarEffect1{0%{opacity:0.3;}
40%{opacity:0.5;box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(235,118,126,.1), 0 0 0 20px rgba(255,255,255,0.5);}
100%{box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(235,118,126,.3), 0 0 0 20px rgba(255,255,255,0.5);-webkit-transform:scale(1.2);opacity:1;}
}
@-moz-keyframes sonarEffect1{0%{opacity:0.3;}
40%{opacity:0.5;box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(235,118,126,.1), 0 0 0 20px rgba(255,255,255,0.5);}
100%{box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(235,118,126,.3), 0 0 0 20px rgba(255,255,255,0.5);-moz-transform:scale(1.2);opacity:1;}
}
@keyframes sonarEffect1{0%{opacity:0.3;}
40%{opacity:0.5;box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(235,118,126,.1), 0 0 0 20px rgba(255,255,255,0.5);}
100%{box-shadow:0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(235,118,126,.3), 0 0 0 20px rgba(255,255,255,0.5);transform:scale(1.2);opacity:1;}
}
.job-name-text{position:relative;width:20%;float:left;display:block;}
.job-name-text .text-position{width:100%;display:block;height:40px;background:#EB767E;top:0;left:0;z-index:2;}
.job-name-text .text-position h6{text-align:center;color:#fff;line-height:40px;}
.team-img{position:relative;width:10%;float:left;display:block;border-radius:50%;}
.team-img:before{content:'';position:absolute;right:0;left:0;height:1px;background:#EB767E;top:20px;}
.team-img .arrow-right{right:-6px;width:0;height:0;position:absolute;top:20px;margin-top:-6px;border-top:7px solid transparent;border-bottom:7px solid transparent;border-left:7px solid #EB767E;}
.team-img .team-img-gif{position:absolute;width:100%;top:0;left:0;z-index:1;display:none;border-radius:50%;}
.team-img .team-img-gif img{width:100%;height:auto;border:1px solid #fff;border-radius:50%;}
.team-img:hover .team-img-gif{display:block;}
.team-img img{width:100%;height:auto;margin-top:50px;border:1px solid #fff;border-radius:50%;}
.team-img .job-name{position:absolute;left:50%;top:0;margin-top:-40px;margin-left:15px;font:14px/20px 'OpenSans-Light-webfont';color:#292929;height:20px;width:0;}
.team-img .job-name:before{position:absolute;content:'';height:9px;width:9px;background:#fff;border-radius:50%;border:1px solid #EB767E;top:55px;left:-20px;}
.team-info{position:relative;width:70%;float:left;display:block;}
.team-info-box{position:relative;background:#EB767E;margin-left:20px;}
.team-info-box h6{padding-top:20px;padding-left:20px;padding-bottom:20px;color:#fff;}
.team-info-box p{padding-left:20px;padding-right:20px;padding-bottom:20px;text-align:justify;color:#fff;}
.dev-team{position:relative;width:100%;background:#EB767E;height:42px;}
.dev-team .arrow-up{left:25%;width:0;height:0;position:absolute;top:-6px;margin-left:-7px;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #EB767E;}
.dev-team span{font-weight:100;}
.dev-team h6{text-align:center;color:#fff;line-height:42px;}
.social-top1{position:relative;height:30px;width:100%;padding-left:20px;padding-bottom:20px;}
.list-social1 li{padding:0 auto;list-style:none;background:#fff;margin:0 auto;width:30px;display:inline-block;cursor:pointer;text-align:center;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear;}
.list-social1 li.icon-soc1 a{font-family:'FontAwesome';font-size:18px;line-height:30px;color:#EB767E;}
.list-social1 li:hover{-webkit-animation:tada 1s forwards;-moz-animation:tada 1s forwards;animation:tada 1s forwards;}
.list-social1 li:hover.icon-soc1 a{}
#create-vs{position:relative;padding-top:50px;}
#beyond-vf{position:relative;padding-top:50px;}
#works{position:relative;width:100%;padding-top:100px;background:#fff;overflow:hidden;}
#works h1{padding-bottom:50px;}
#works h1 span{color:#EB767E;}
.text-works{position:relative;width:100%;padding-bottom:40px;}
.box{float:left;position:relative;width:25%;margin:0;padding:0;text-align:center;overflow:hidden;}
.box img{display:block;width:100%;}
.box:hover img{-webkit-animation:tada 0.6s forwards;-moz-animation:tada 0.6s forwards;animation:tada 0.6s forwards;}
.box a{display:block;}
.box a .mask{top:0;left:0;width:100%;height:100%;position:absolute;opacity:0;background:url('../images/cursor.gif') no-repeat center center;background-size:30px 30px;-webkit-transition:all 600ms linear;-moz-transition:all 600ms linear;transition:all 600ms linear;}
.box a:hover .mask{opacity:1;background:rgba(0,0,0,.9) url('../images/cursor.gif') no-repeat center center;background-size:30px 30px;}
.box h4{position:absolute;color:#fff;font-weight:100;left:20px;top:20px;padding-bottom:10px;border-bottom:1px solid #fff;z-index:2;opacity:0;-webkit-transition:all 600ms linear;-moz-transition:all 600ms linear;-o-transition:all 600ms linear;-ms-transition:all 600ms linear;transition:all 600ms linear;}
.box:hover h4{opacity:1;-webkit-animation:bounceInUp 0.6s ease;-moz-animation:bounceInUp 0.6s ease;animation:bounceInUp 0.6s ease;}
.box p{position:absolute;top:74px;left:20px;color:#fff;z-index:2;opacity:0;-webkit-transition:all 600ms linear;-moz-transition:all 600ms linear;-o-transition:all 600ms linear;-ms-transition:all 600ms linear;transition:all 600ms linear;}
.box:hover p{opacity:1;-webkit-animation:bounceInDown 0.9s ease;-moz-animation:bounceInDown 0.9s ease;animation:bounceInDown 0.9s ease;}
@-webkit-keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-2000px);}
60%{opacity:1;-webkit-transform:translateY(30px);}
80%{-webkit-transform:translateY(-10px);}
100%{-webkit-transform:translateY(0);}
}
@-moz-keyframes bounceInDown{0%{opacity:0;-moz-transform:translateY(-2000px);}
60%{opacity:1;-moz-transform:translateY(30px);}
80%{-moz-transform:translateY(-10px);}
100%{-moz-transform:translateY(0);}
}
@-o-keyframes bounceInDown{0%{opacity:0;-o-transform:translateY(-2000px);}
60%{opacity:1;-o-transform:translateY(30px);}
80%{-o-transform:translateY(-10px);}
100%{-o-transform:translateY(0);}
}
@keyframes bounceInDown{0%{opacity:0;transform:translateY(-2000px);}
60%{opacity:1;transform:translateY(30px);}
80%{transform:translateY(-10px);}
100%{transform:translateY(0);}
}
@-webkit-keyframes bounceInUp{0%{opacity:0;-webkit-transform:translateY(2000px);}
60%{opacity:1;-webkit-transform:translateY(-30px);}
80%{-webkit-transform:translateY(10px);}
100%{-webkit-transform:translateY(0);}
}
@-moz-keyframes bounceInUp{0%{opacity:0;-moz-transform:translateY(2000px);}
60%{opacity:1;-moz-transform:translateY(-30px);}
80%{-moz-transform:translateY(10px);}
100%{-moz-transform:translateY(0);}
}
@-o-keyframes bounceInUp{0%{opacity:0;-o-transform:translateY(2000px);}
60%{opacity:1;-o-transform:translateY(-30px);}
80%{-o-transform:translateY(10px);}
100%{-o-transform:translateY(0);}
}
@keyframes bounceInUp{0%{opacity:0;transform:translateY(2000px);}
60%{opacity:1;transform:translateY(-30px);}
80%{transform:translateY(10px);}
100%{transform:translateY(0);}
}
@media only screen and (max-width:700px){.box{width:50%;}
}
@media only screen and (max-width:400px){.box{width:100%;}
}
.portfolio-isotope{width:100%;position:relative;}
.fil{}
#filter{display:inline-block;}
#filter li{float:left;font-size:14px;margin-bottom:10px;padding-bottom:10px;margin-left:2px;margin-right:2px;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
#filter li a{color:#fff;padding:10px 15px;text-transform:uppercase;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
#filter li a:hover{background:#5B6073;color:#fff;}
#filter li .current{background:#5B6073;}
.color5{background:#2B2D3A;}
.color6{background:#FFFFFF;}
.isotope-item{z-index:2;}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1;}
.isotope, .isotope .isotope-item{-webkit-transition-duration:0.8s;-moz-transition-duration:0.8s;transition-duration:0.8s;}
.isotope{-webkit-transition-property:height, width;-moz-transition-property:height, width;transition-property:height, width;}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform, opacity;-moz-transition-property:-moz-transform, opacity;-ms-transition-property:-ms-transform, opacity;-o-transition-property:top, left, opacity;transition-property:transform, opacity;}
#services{position:relative;width:100%;padding-top:120px;background:#fff;overflow:hidden;}
#services h1{padding-bottom:50px;}
#services p{text-align:justify;}
#services h2 span{color:#EB767E;}
.services-list p{margin:5px 0 5px 0;}
.list-services li{list-style:none;margin:0 auto;text-align:left;padding-left:25px;}
.check1{background:url('../images/checkmark1.png') no-repeat center left;}
.check2{background:url('../images/checkmark2.png') no-repeat center left;}
.check3{background:url('../images/checkmark3.png') no-repeat center left;}
.services-offer{position:relative;width:100%;text-align:center;padding-top:20px;padding-bottom:30px;margin-top:30px;margin-bottom:30px;}
.services-offer h5{color:#fff;}
.services-icon-wrap2{position:relative;width:100%;height:120px;text-align:center;}
.services-icon-digital{position:relative;width:100%;height:120px;background:url('../images/1.png') no-repeat center center;}
.services-icon-wrap1{position:relative;width:100%;height:120px;text-align:center;}
.services-icon-design{position:relative;width:100%;height:120px;background:url('../images/2.png') no-repeat center center;}
.services-icon-wrap1 .mask-services{top:0;left:0;width:100%;height:70%;position:absolute;background:#fff;z-index:1;display:block;}
.no-touch.cssanimations .services-icon-wrap1 .mask-services{-webkit-animation:maskposition 1.5s infinite linear;-moz-animation:maskposition 1.5s infinite linear;-ms-animation:maskposition 1.5s infinite linear;-o-animation:maskposition 1.5s infinite linear;animation:maskposition 1.5s infinite linear;}
@-webkit-keyframes maskposition{0%{width:100%;height:70%;border-radius:100%;}
50%{width:100%;height:30%;border-radius:80%;}
100%{width:100%;height:0;}
}
@-moz-keyframes maskposition{0%{width:100%;height:70%;border-radius:100%;}
50%{width:100%;height:30%;border-radius:80%;}
100%{width:100%;height:0;}
}
@-ms-keyframes maskposition{0%{width:100%;height:70%;border-radius:100%;}
50%{width:100%;height:30%;border-radius:80%;}
100%{width:100%;height:0;}
}
@-o-keyframes maskposition{0%{width:100%;height:70%;border-radius:100%;}
50%{width:100%;height:30%;border-radius:80%;}
100%{width:100%;height:0;}
}
@keyframes maskposition{0%{width:100%;height:70%;border-radius:100%;}
50%{width:100%;height:30%;border-radius:80%;}
100%{width:100%;height:0;}
}
.services-icon-wrap3{position:relative;width:100%;height:120px;text-align:center;}
.services-icon-strat{position:relative;width:100%;height:120px;background:url('../images/3.png') no-repeat center center;}
.to-start{position:relative;width:100%;padding-top:30px;padding-bottom:30px;margin-top:30px;text-align:center;}
.to-start h5{color:#fff;}
.butt-con{display:inline-block;position:relative;font-size:20px;margin-top:20px;margin-bottom:10px;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.butt-con a{color:#fff;padding:10px 20px;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.butt-con a:hover{background:#5B6073;color:#fff;}
#contact{position:relative;width:100%;background:#5B6073;padding-bottom:70px;}
.contact-info{position:relative;width:100%;padding-top:50px;padding-bottom:30px;}
.contact-info h6{padding-bottom:20px;color:#fff;}
.contact-info p{color:#fff;}
.contact-info a{color:#fff;}
.contact-info a:hover{color:#EB767E;}
#contact #ajax-form{text-align:left;}
#ajax-form{width:100%;font:16px/22px 'OpenSans-Light-webfont';margin-left:auto;margin-right:auto;color:#fff;}
#ajax-form h6{text-align:left;padding-bottom:15px;color:#fff;}
label{display:block;font:16px/34px 'OpenSans-Light-webfont';}
input{width:100%;border:none;color:#fff;background:rgba(0,0,0,.2);font:16px/22px 'OpenSans-Light-webfont';margin-bottom:5px;padding-top:10px;padding-bottom:10px;-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-ms-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;transition:all .35s ease-in-out;}
textarea:focus,
input:focus{outline:none;background:rgba(0,0,0,.1)}
textarea{width:100%;border:none;background:rgba(0,0,0,.2);color:#fff;font:16px/22px 'OpenSans-Light-webfont';height:80px;margin-bottom:5px;padding-top:10px;padding-bottom:10px;padding-left:0;padding-right:0;-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-ms-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;transition:all .35s ease-in-out;}
.error{color:#EB767E;font:16px/22px 'OpenSans-Light-webfont';display:none;}
#ajaxsuccess{background:#383636;color:#fff;font:20px/60px 'OpenSans-Light-webfont';height:60px;border-left:5px solid #000;display:none;padding-left:10px;width:100%;margin-left:auto;margin-right:auto;margin-top:30px;}
#contact .button,
#contact button,
input[type="submit"],
input[type="reset"],
input[type="button"]{background:rgba(0,0,0,.2);margin-top:10px;border:none;color:#fff;display:inline-block;font-size:16px;cursor:pointer;line-height:normal;padding:15px 25px;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;width:100%;}
#contact .button:hover,
#contact button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover{background:rgba(0,0,0,.1);}
#contact .button:active,
#contact button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active{opacity:.8;}
#copy{position:relative;width:100%;background:#2B2D3A;margin:0 auto;padding-top:30px;padding-bottom:30px;}
#copy p{text-align:center;color:#fff;}
.social-footer{position:relative;margin:0 auto;text-align:center;height:30px;width:100%;}
.list-social-footer li{padding:0 auto;list-style:none;background:#EB767E;margin:0 auto;width:30px;display:inline-block;cursor:pointer;text-align:center;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-o-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear;}
.list-social-footer li.icon-soc-footer a{font-family:'FontAwesome';font-size:18px;line-height:30px;color:#fff;}
.list-social-footer li:hover{-webkit-animation:tada 1s forwards;-moz-animation:tada 1s forwards;animation:tada 1s forwards;}
#separator{position:relative;width:100%;background:#B687E3;height:388px;overflow:hidden;}
.film-reel{position:absolute;-webkit-transform:rotate(-26deg);-moz-transform:rotate(-26deg);-ms-transform:rotate(-26deg);-o-transform:rotate(-26deg);transform:rotate(-26deg);top:0;left:0;z-index:1;display:block;width:100%;height:244px;background-image:url("../images/film-reel.png");}
.no-touch.cssanimations .film-reel{-webkit-animation:filmreel 15s infinite linear;-moz-animation:filmreel 15s infinite linear;-ms-animation:filmreel 15s infinite linear;-o-animation:filmreel 15s infinite linear;animation:filmreel 15s infinite linear;}
@-webkit-keyframes filmreel{0%{background-position:0 0;}
100%{background-position:-2100px 0;}
}
@-moz-keyframes filmreel{0%{background-position:0 0;}
100%{background-position:-2100px 0;}
}
@-ms-keyframes filmreel{0%{background-position:0 0;}
100%{background-position:-2100px 0;}
}
@-o-keyframes filmreel{0%{background-position:0 0;}
100%{background-position:-2100px 0;}
}
@keyframes filmreel{0%{background-position:0 0;}
100%{background-position:-2100px 0;}
}
#separator h3{position:absolute;top:100px;width:100%;color:#fff;text-align:center;font-weight:100;z-index:5;}
.button-play{position:absolute;top:168px;left:50%;z-index:5;font-family:'FontAwesome';width:120px;color:#fff;border-radius:5px;height:120px;display:block;margin-left:-60px;text-align:center;line-height:120px;font-size:60px;opacity:.8;background:rgba(0,0,0,.6);-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.button-play:hover{opacity:1;background:rgba(0,0,0,.9);color:#fff;}
#video-wrap{margin:0 auto;position:relative;width:100%;overflow:hidden;padding-bottom:50px;}
#big-video-wrap{overflow:hidden;position:absolute;height:100%;width:100%;top:0;left:0;}
#big-video-vid,#big-video-image{position:absolute;}
#big-video-control-container{position:absolute;bottom:20px;left:5%;width:90%;overflow:hidden;-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;}
#big-video-control{width:100%;height:16px;position:relative;}
#big-video-control-middle{margin:0 56px 0 24px;}
#big-video-control-bar{width:100%;height:16px;position:relative;cursor:pointer;}
#big-video-control-progress{position:absolute;top:7px;height:3px;width:0%;background:#fff;}
#big-video-control-track{position:absolute;top:8px;height:1px;width:100%;background:#fff;}
#big-video-control-bound-left{left:0;}
#big-video-control-bound-right{right:-1px}
#big-video-control-track .ui-slider-handle{opacity:0;}
#big-video-control-playhead{left:30%;}
#big-video-control-play{position:absolute;top:0;left:0;height:16px;width:16px;background-image:url('../images/bigvideo.png');}
#big-video-control-timer{position:absolute;top:1px;right:0;color:#fff;font-size:11px;}
#big-video-control-playhead,#big-video-control-bound-left,#big-video-control-bound-right{position:absolute;top:0;height:16px;width:1px;background:#fff;}
#big-video-control .ui-slider-handle{border-left:solid 1px #fff;width:16px;height:16px;position:absolute;top:-8px;}
.transparent{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
.vjs-big-play-button{display:none !important;}
#separator2{width:100%;background:url('../images/3.jpg') repeat center top fixed;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;overflow:hidden;}
#separator2 h3{color:#EB767E;padding-top:150px;text-align:center;font-weight:100;}
.separator2-wrap{position:relative;width:100%;height:338px;overflow:hidden;}
.plane{position:absolute;-webkit-transform:rotate(16deg);-moz-transform:rotate(16deg);-ms-transform:rotate(16deg);-o-transform:rotate(16deg);transform:rotate(16deg);top:10%;left:0;z-index:1;display:block;width:100%;height:186px;background-image:url("../images/paper-plane.png");}
.no-touch.cssanimations .plane{-webkit-animation:plane 15s infinite linear;-moz-animation:plane 15s infinite linear;-ms-animation:plane 15s infinite linear;-o-animation:plane 15s infinite linear;animation:plane 15s infinite linear;}
@-webkit-keyframes plane{0%{background-position:0 0;}
100%{background-position:-2053px 0;}
}
@-moz-keyframes plane{0%{background-position:0 0;}
100%{background-position:-2053px 0;}
}
@-ms-keyframes plane{0%{background-position:0 0;}
100%{background-position:-2053px 0;}
}
@-o-keyframes plane{0%{background-position:0 0;}
100%{background-position:-2053px 0;}
}
@keyframes plane{0%{background-position:0 0;}
100%{background-position:-2053px 0;}
}
#singleproject{position:relative;width:100%;background:#fff;padding-top:50px;padding-bottom:50px;}
#singleproject img{width:100%;height:auto;}
.singleproject-top{position:relative;width:100%;background:#EB767E;padding-top:50px;padding-bottom:50px;}
.singleproject-top img{width:100%;height:auto;}
.singleproject-top h2{padding-top:40px;padding-bottom:30px;font-weight:100;color:#fff;}
.singleproject-top p{padding-bottom:10px;color:#fff;}
.singleproject-top button{margin-top:30px;background:#fff;color:#000;}
.singleproject-top button:hover{color:#EB767E;}
#singleproject h4{padding-top:30px;padding-bottom:30px;font-weight:100;}
#singleproject .btn-wrap{margin:0;text-align:left;}
.bx-wrapper{position:relative;margin:0 auto;padding:0;*zoom:1;}
.bx-wrapper img{max-width:100%;max-height:600px;display:block;}
.bx-wrapper .bx-viewport{}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto{position:absolute;width:100%;}
.bx-wrapper .bx-loading{min-height:50px;background:url(../images/bx_loader.gif) center center no-repeat;height:100%;width:100%;position:absolute;top:0;left:0;z-index:2000;}
.bx-wrapper .bx-prev{right:30px;bottom:5px;background:url(../images/arrow_left.png) no-repeat;opacity:.8;}
.bx-wrapper .bx-next{right:5px;bottom:5px;background:url(../images/arrow_right.png) no-repeat;opacity:.8;}
.bx-wrapper .bx-prev:hover{opacity:1;}
.bx-wrapper .bx-next:hover{opacity:1;}
.bx-wrapper .bx-controls-direction a{position:absolute;outline:0;width:20px;height:32px;text-indent:-9999px;z-index:9;}
.bx-wrapper .bx-controls-direction a.disabled{display:none;}
.bx-wrapper .bx-controls-auto{text-align:center;}
.bx-wrapper .bx-controls-auto .bx-start{display:block;text-indent:-9999px;width:10px;height:11px;outline:0;background:url(../images/controls.png) -86px -11px no-repeat;margin:0 3px;}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active{background-position:-86px 0;}
.bx-wrapper .bx-controls-auto .bx-stop{display:block;text-indent:-9999px;width:9px;height:11px;outline:0;background:url(../images/controls.png) -86px -44px no-repeat;margin:0 3px;}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active{background-position:-86px -33px;}
.bx-wrapper .bx-pager{text-align:center;font-size:.85em;font-family:Arial;font-weight:bold;color:#666;padding-top:20px;}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item{display:inline-block;*zoom:1;*display:inline;}
.bx-wrapper .bx-pager.bx-default-pager a{background:#000;border:3px double #fff;text-indent:-9999px;display:block;width:10px;height:10px;margin:0 5px;outline:0;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active{background:#EC572C;border:3px double #fff;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{text-align:left;width:80%;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right:0;width:35px;}
.bx-wrapper .bx-caption{position:absolute;bottom:0;left:50%;margin-left:-475px;width:950px;background:rgba(41,41,41,.95);padding-top:10px;padding-bottom:10px;}
.bx-wrapper .bx-caption span{color:#fff;font-family:'OpenSans-Regular-webfont';font-weight:300;display:block;font-size:2.6em;line-height:1.2em;padding:10px;}
@media only screen and (min-width:960px) and (max-width:1200px){}
}
@media only screen and (min-width:768px) and (max-width:959px){}
@media only screen and (min-width:480px) and (max-width:767px){h1{font-size:32px;line-height:36px;}
.team h6,
.dev-team h6,
.team p{font-size:80%;}
.team p{text-align:left;line-height:16px;}
#rotator h3{font-size:28px;line-height:34px;}
.social-top{position:absolute;top:60px;right:auto;left:10px;}
#separator2 h3{font-size:24px;line-height:28px;}
}
@media only screen and (min-width:320px) and (max-width:479px){h1{font-size:26px;line-height:30px;}
.team h6,
.dev-team h6,
.team p{font-size:80%;}
.team p{text-align:left;line-height:16px;}
#separator h3{font-size:22px;}
.social-top1{height:20px;}
.list-social1 li{width:20px;}
.list-social1 li.icon-soc1 a{font-size:16px;line-height:20px;}
#rotator h3{font-size:22px;line-height:30px;}
.social-top{position:absolute;top:auto;right:auto;left:10px;bottom:10px;}
.home-menu1 .home-menu-but1{width:110px;height:110px;}
.home-menu2 .home-menu-but2{width:110px;height:110px;}
.home-menu3 .home-menu-but3{width:110px;height:110px;}
.home-menu4 .home-menu-but4{width:110px;height:110px;}
.home-menu1 .hi-icon1{width:110px;height:110px;}
.home-menu2 .hi-icon2{width:110px;height:110px;}
.home-menu3 .hi-icon3{width:110px;height:110px;}
.home-menu4 .hi-icon4{width:120px;height:120px;}
.home-menu-text1{font-size:18px;line-height:24px;margin-top:27px;font-weight:normal;color:#525225;}
.home-menu-text2{font-size:22px;line-height:24px;margin-top:75px;}
.home-menu-text3{font-size:22px;line-height:24px;margin-top:75px;}
.home-menu-text4{font-size:22px;line-height:24px;margin-top:75px;}
#separator2 h3{font-size:20px;line-height:24px;}
}
@media only screen and (max-width:319px){h1{font-size:22px;line-height:26px;}
.team h6,
.dev-team h6,
.team p{font-size:70%;}
.team p{text-align:left;line-height:15px;}
.dev-team span{display:none;}
#separator h3{font-size:22px;}
.social-top1{height:13px;}
.list-social1 li{width:13px;}
.list-social1 li.icon-soc1 a{font-size:12px;line-height:13px;}
#rotator h3{font-size:18px;line-height:24px;}
.social-top{position:absolute;top:auto;right:auto;left:10px;bottom:10px;}
.home-menu1 .home-menu-but1{width:110px;height:110px;}
.home-menu2 .home-menu-but2{width:110px;height:110px;}
.home-menu3 .home-menu-but3{width:110px;height:110px;}
.home-menu4 .home-menu-but4{width:110px;height:110px;}
.home-menu1 .hi-icon1{width:110px;height:110px;}
.home-menu2 .hi-icon2{width:110px;height:110px;}
.home-menu3 .hi-icon3{width:110px;height:110px;}
.home-menu4 .hi-icon4{width:120px;height:120px;}
.home-menu-text1{font-size:22px;line-height:24px;margin-top:75px;}
.home-menu-text2{font-size:22px;line-height:24px;margin-top:75px;}
.home-menu-text3{font-size:22px;line-height:24px;margin-top:75px;}
.home-menu-text4{font-size:22px;line-height:24px;margin-top:75px;}
#separator2 h3{font-size:18px;line-height:22px;}
}
@font-face{font-family:'ecoicon';src:url('ecoicons/ecoicon.eot');src:url('ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
url('ecoicons/ecoicon.woff') format('woff'),
url('ecoicons/ecoicon.ttf') format('truetype'),
url('ecoicons/ecoicon.svg#ecoicon') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=3.0.1');src:url('font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
url('font/fontawesome-webfont.woff?v=3.0.1') format('woff'),
url('font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'OpenSans-Light-webfont';src:url('font/OpenSans-Light-webfont.eot');src:url('font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
url('font/OpenSans-Light-webfont.woff') format('woff'),
url('font/OpenSans-Light-webfont.ttf') format('truetype'),
url('font/OpenSans-Light-webfont.svg#BebasNeueRegular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'OpenSans-Bold-webfont';src:url('font/OpenSans-Bold-webfont.eot');src:url('font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
url('font/OpenSans-Bold-webfont.woff') format('woff'),
url('font/OpenSans-Bold-webfont.ttf') format('truetype'),
url('font/OpenSans-Bold-webfont.svg#BebasNeueRegular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'OpenSans-Regular-webfont';src:url('font/OpenSans-Regular-webfont.eot');src:url('font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
url('font/OpenSans-Regular-webfont.woff') format('woff'),
url('font/OpenSans-Regular-webfont.ttf') format('truetype'),
url('font/OpenSans-Regular-webfont.svg#BebasNeueRegular') format('svg');font-weight:normal;font-style:normal;}
